@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Animation douce pour les changements de page */
::selection {
  background-color: #3b82f6;
  color: white;
}